@import url("https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch");
body {
    font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.navbar .navbar-brand {
    color: rgba(255,255,255,0.85);
    font-size: 1rem;
}
.jumbotron {
    background-image: url('../img/jumbo-bg.jpg');
    background-size: cover;
    padding-top: 15%;
    
}
.frank {
    border-radius: 10px;
    width: 200px;
    height: auto;
}
.oftalfrancisco {
    border-radius: 10%;
}

@media only screen and (max-width: 600px) {
    .jumbotron .titulo {
        font-size: 25px;
        text-align: center;
    }
    .jumbotron .subtitulo, .sub {
        font-size: 20px;
        text-align: center;
    }
}

/*.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
    
    25%, 75% {
    opacity: 0;
    }
    }
    
    @keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
    
    25%, 75% {
    opacity: 0;
    }
}  */

