@import url("https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch");
body {
    font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
}
.navbar .navbar-brand {
    color: rgba(255,255,255,0.85);
    font-size: 1rem;
}
.jumbotron {
    background-image: url('../img/jaguar.JPEG');
    padding-top: 15%;  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.frank {
    border-radius: 10px;
    width: 200px;
    height: auto;
}
.oftalfrancisco {
    border-radius: 10%;
}

@media only screen and (max-width: 600px) {
    .jumbotron .titulo {
        font-size: 25px;
        text-align: center;
    }
    .jumbotron .subtitulo, .sub {
        font-size: 20px;
        text-align: center;
    }
    .list-group .list-group-item .mb-1 {
      font-size: 14px;
    }
    .badge{
      font-size: 8px;
    }
}
@media only screen and (max-width: 600px) {
  #schedule { 
      font-size: 30px;
      text-align: center;
  }
  #schedule1 {
      font-size: 25px;
      text-align: center; a
  }
}

/*.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
    
    25%, 75% {
    opacity: 0;
    }
    }
    
    @keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
    
    25%, 75% {
    opacity: 0;
    }
}  */

.list ul {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .list ul li {
    list-style: none;
    float: left;
    font-family: arial;
    font-size: 6rem;
    color: #eeeeee;
    font-weight: bold;
    transform-origin: left;
    animation: animate 3s infinite;
  }
  .list ul li:nth-child(1) {
    animation-delay: 0s;
  }
  .list ul li:nth-child(2) {
    animation-delay: .2s;
  }
  .list ul li:nth-child(3) {
    animation-delay: .4s;
  }
  .list ul li:nth-child(4) {
    animation-delay: .6s;
  }
  .list ul li:nth-child(5) {
    animation-delay: .8s;
  }
  .list ul li:nth-child(6) {
    animation-delay: 1s;
  }
  .list ul li:nth-child(7) {
    animation-delay: 1.2s;
  }
  
  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotateY(90deg) translateX(-30px);
    }
    50% {
      opacity: 1;
      transform: rotateY(0deg) translateX(30px) scale(0.4);
    }
    100% {
      opacity: 0;
      transform: rotateY(0deg);
    }
  }
  @media only screen and (max-width: 1024px){
    .list ul li{
        display: none;   
    }
}