body {
	font-family: "Century Gothic",
                Helvetica,
                Arial,
                sans-serif,
                "cwTeXHei";
  /*background: #1c3056;*/
  background: #fff;
  color: #333;
}

h3 {
  padding-top: 100px;
}

/* 控制內文段落的上間距 */
p {
  margin-top: 40px; 
}

/* 使手機螢幕的選項居中 */
.navbar-dark .navbar-toggler .navbar-toggler-icon{
  background-color: rgba(51, 51, 51, 0.144);
}
.navbar-collapse ul li a {
  text-align: center;
}

/* 次選單初始狀態按鍵間距 */
.sub-navi-link {
  padding: .5em ;
}

/* 次選單初始狀態連結 */
.sub-navi-link a {
	margin: 0em .5em;
	padding: 0.5em 1.5em;
	border-radius: 25px;
	border: 2px solid rgba(0, 0, 0, 0.5);
  text-decoration:none;
	color: #333;
	font-size: .9em;
}

/* 次選單初始狀態連結移上 */
.sub-navi-link a:hover {
	border: 2px solid #ff0266;
	color: #ff0266;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
「往下滑動」次選單固定頂端相關設定
↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */

.navbar {
/*   transition: top .8s; */
  padding: 1rem;
}

/* 導行列往上移動 */
.nav-move-up {
  top: -72px;
  transition: top .8s;
}

/* 次選單容器 */
.sub-navi-container {
  display: block;
  position: absolute;
	padding: 96px 0 20px 0;
	z-index: 999;
/*   transition: 3s; */
}

/* 次選單的固定列 */
.sub-navi-container.sub-navi-fixed {
	position: fixed;
	top: -1px;
	right: 0;
	left: 0;
	padding: 0;
	background-color: rgba(255, 255, 255, 0.8);
  transition: all .8s;
}

/* 次選單的固定列的連結 */
.sub-navi-container.sub-navi-fixed a {
	margin: 0em .5em;
	padding: .5em 1.5em;
	border: 2px solid rgba(255, 255, 255, 0.5);
	color: #fff;
	font-size: .9em;
}

/* 次選單的固定列的連結移上 */
.sub-navi-container.sub-navi-fixed  a:hover {
  border: 2px solid #ff0266;
  color: #ff0266;
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑
「往下滑動」次選單固定頂端相關設定
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
「往上滑動」次選單固定頂端相關設定
↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */

/* 次選單的固定列往下移動 */
.sub-navi-container.sub-navi-fixed-down {
  top: 72px;
	padding: 0em 2em;
  transition: all .8s;
}

/* 次選單的固定列往下移動後出現細線 */
.line-appear {
  margin: auto;
  padding: 0em;
  border-top-style:solid; 
  border-top-width: thin;
  border-top-color: rgba(255, 255, 255, 0.5);
  max-width: 1120px;
  text-align: center;
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑
「往上滑動」次選單固定頂端相關設定
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
  
   
/* a 的 margin 和 padding 值直接影響手機螢幕的顯示 ( 橫列與直列的差異 ) */
  
/* js 中，.navbar 的 padding .2em 影響手機螢幕的顯示 ( 太靠邊 ) */
  
/* 不同狀態下的 a 的值，後者會覆蓋前者，在 css 終需注意順序。 */
  
/* 下移 .sub-navi-fixed-down 的 top 到 72px，使線正常顯示。在此前提下，不需再調動其 z-undex 值。 */
  
  /* 手機尺寸導行列展開判斷的關鍵語句
  var _opened = $("#navbar-link").hasClass("navbar-collapse collapse show");
  var scrollTop = $(document).scrollTop();
  if (_opened !== true) {
    $(".navbar").css({
      'background-color': 'rgba(0, 0, 0, 0.8)',
    });
  */
  
/* 改變原生 navbar 上下間距
.navbar {
  padding: 1rem;
}  */
  
/* 未改變往下拖曳行為時，點擊連結，導行列不會上收。 */
.coder{
  padding-top: 10rem;
  
}
.jumbotron {
    background: #fff;
}
.shinning{
  font-size: 32px;
  letter-spacing: 4px;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    background-position: -300%;
  }
  100% {
    background-position: 300%;
  }
}
@media (max-width: 767.98px) { 
    .navbar-nav .nav-link{
        font-size: 2em;   
        text-align: center;
        border-bottom: 7px solid #ff0266;
    }
    .navbar-nav .nav-link:hover{
        color: white;
        background: #ff0266;
    }
 }
@media (max-width: 991.98px) { 
  .navbar-nav .nav-link{
      font-size: 2em;   
      text-align: center;
      border-bottom: 7px solid #ff0266;
  }
  .navbar-nav .nav-link:hover{
      color: white;
      background: #ff0266;
  }
}


/* =========================
  SLIDING PANELS
  ========================= */
  .final__slide{
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.final__slide img{
  display: inline-block;
  vertical-align: middle;
}
.final__slide-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  width:100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: rgba(43, 40, 40, 0.9);
  color: #ffffff;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
}
.final__slide:hover .final__slide-content{
  transform:translate(0, 0);
  -webkit-transform:translate(0, 0);
}
  
/*Directions*/
.slide-top .final__slide-content{
  transform:translate(0, -100%);
  -webkit-transform:translate(0, -100%);
}
.slide-left .final__slide-content{
  transform:translate(-100%, 0);
  -webkit-transform:translate(-100%, 0);
}
.slide-right .final__slide-content{
  transform:translate(100%, 0);
  -webkit-transform:translate(100%, 0);
}
.slide-bottom .final__slide-content{
  transform:translate(0, 100%);
  -webkit-transform:translate(0, 100%);
}

.heading {
  position: relative;
}
.testimonials {
  background: url("https://i.ibb.co/JRrHmhv/shanghai.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 130px 0 150px;
  color: #ffffff;
  position: relative;
}
.testimonials:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
}
.testimonials .heading h2 {
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
}

.testimonials .heading h2 span {
  color: #ff0000;
}

.testimonials p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #d1e5e7;
  margin: 20px 0;
  padding: 0;
}

/* Image */
.testimonials .carousel-inner .carousel-item .team {
  width: 100px;
  height: 100px;
  border: 1px solid #ff0266;
  border-radius: 100%;
  margin: 50px 0 15px;
}

.testimonials .carousel-inner .carousel-item h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}

.testimonials .carousel-inner .carousel-item h4 {
  font-size: 14px;
  font-weight: 300;
  color: #e2e1e1;
  margin-bottom: 20px;
}

.testimonials .carousel-indicators {
  bottom: -30px;
}

.testimonials .carousel-indicators li {
  background-color: #b8b7b7;
  border-radius: 30px;
  height: 4px;
  width: 40px;
}

.testimonials .carousel-indicators .active {
  background-color: #ff0000;
}

.testimonials .control span {
  cursor: pointer;
}

.testimonials .icon {
  height: 40px;
  width: 40px;
  background-size: 100%, 100%;
  border-radius: 50%;
  font-size: 30px;
  background-image: none;
  color: #ffffff;
}
