/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
.header{
  margin-top: 20px;
}
p {
  line-height: 2rem;
}
.progress{
  color: red;
}
.material-icons.orange600 { 
  color: #ff5722 ; 
}
.material-icons.blue600 { 
  color: #3d5afe ;
}
.material-icons.yell600 {
  color: #ffee58;
}
.sidenav-trigger {
  color: #333;
}
.sidenav-overlay {
  opacity: 0 !important;
}

.carousel-item {
  padding: 30px;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
