/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 @import url("https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch");
html, body{
  font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}   
nav ul a,
nav .brand-logo {
  color: #fff;
}
.logo{
  width: 50%;
}
.header{
  margin-top: 20px;
}
p {
  line-height: 2rem;
}
.progress{
  color: red;
}
.material-icons.orange600 { 
  color: #ff5722 ; 
}
.material-icons.blue600 { 
  color: #3d5afe ;
}
.material-icons.yell600 {
  color: #ffee58;
}
.material-icons.white0600{
  color: #fff;
}
.sidenav-trigger {
  color: #fff;
}
.sidenav-overlay {
  opacity: 0 !important;
}

.carousel-item {
  padding: 30px;
}
.parallax-container {
  min-height: 450px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  
}
.parallax-container.encabezado{
  background-image: url('../img/Background.png');
  min-height: 480px;
  height: auto;
}
.ga{
  margin-right: 10px;
}
.gad{
  margin-left: 10px;
}
.parallax-container .section {
    width: 100%;
  }
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .ga{
    margin-bottom: 10px;
  }
  .gad{
    margin-top: 10px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .parallax-container.encabezado{
    background-image: url('../img/cohete.jpeg');
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
