body {
    font-family: Lato;
}
.conteiner {
    display: flex;
    background-color: #18BC9C;
    /*flex-flow: column wrap; */
    flex-direction: column;
    justify-content: center;
    padding-top: 7%;
    padding-bottom:7%; 

}
img {
    display: inline;
    margin: auto;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
h1 {
    display: inline;
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.port {
    display: block;
    color: #000;
    text-align: center;
}
p {
    display: inline;
    font-size: 35px;
    color: #fff;
    text-align: center;
}
.vuejs {
    background-image: url('./img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 250px;
}