body {
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin:0px;
    
}
.conteiner {
    display: flex;
    width: auto;
    
    background-color: #18BC9C;
    /*flex-flow: column wrap; */
    flex-direction: column;
    justify-content: center;
    padding-top: 7%;
    padding-bottom:7%; 

}
img {
    display: inline;
    margin: auto;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
h1 {
    display: inline;
    font-size: 3em;
    font-weight:800;
    color: #fff;
    text-align: center;
}
span {
    text-align: center;
    font-size: 35px;
    color: #fff;
}
p {
    display: block;
    font-size: 35px;
    color: #fff;
    
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.conteiner i {
    font-family: FontAwesome;
    text-align:center;
    font-size: 50px;
    display: block;
    color: #fff;
}
.portafolio {
    padding-top: 5%;
}
.port {
    display: block;
    color: #212529;
    text-align: center;
}
.work {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.work .vuejs {
    background-image: url('./img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px !important;
    height: 250px !important;
    margin-bottom: 50px;
}
.work .react {
    background-image: url('./img/header_logo.png');
    background-color: #2D2D2D;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px !important;
    height: 250px !important;
    margin-bottom: 50px;
}

.work .cv {
    background-image: url('./img/Lueza.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px !important;
    height: 250px !important;
    
}
.work .sails {
    background-image: url('./img/hero_squid.png');
    background-color: #18BC9C;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px !important;
    height: 250px !important;
   
}
.work .typescript {
    background-image: url('./img/logo.svg');
    background-color: #152740;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px !important;
    height: 250px !important;
    
}
.work .angular {
    background-image: url('./img/angular-logo.svg');
    background-color: #F44336;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px !important;
    height: 250px !important;
    margin-right: 15px;
    margin-left: 15px;
}
.work .rubyonrails {
    background-image: url('./img/rails-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px !important;
    height: 250px !important;
    margin-right: 15px;
    margin-left: 15px;
}
.about {
    display: block;
    text-align: center;
    background-color: #18BC9C;
    padding-top: 5%;  
    padding-bottom: 2%; 
}
p {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;  
}
.contacto {
    padding-top: 5%;
    text-align: center;
}
.contact {
    color: #000;
     
}
.form {
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    
    border: none;
    background-color: #f1f1f1;
    color: #000;
}
/*input[type=text]:focus {
    width: 50%;
}*/
textarea {
    text-align: left;
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #128F76;
    font-size: 16px;
    resize: none;  
}
input[type=text], select {
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #128F76;
}
input[type=submit] {
    background-color: #128F76;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
footer {
    background-color: #242424;
    padding-top: 5%;
    padding-bottom: 5%; 
}