* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "George X";
    src: url("./Fonts/George\ X.otf");
}
@font-face {
    font-family: "SuisseBPrint-Regular";
    src: url("./Fonts/SuisseBPIntl-Regular.otf");
}
@font-face {
    font-family: "boogy-brut-poster-regular";
    font-display:swap;
    src: url("./Fonts/boogy-brut-poster-regular.woff2");
}
@font-face {
    font-family: "boogy-brut-wild-black";
    font-display:swap;
    src: url("./Fonts/boogy-brut-wild-black.woff2");
}
/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    height: 100%;
  }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    width: 100%;
    height: auto;
}
h1, h2, h3{
    color:#CC1B34;
}
h2{
    font-family:boogy-brut-poster-regular;
}
h3{
    font-family:boogy-brut-poster-regular;
    font-weight: 600;
    line-height: 1.8em;
    font-size: 2.5em;
}
h1 {
    font-family:boogy-brut-poster-regular;
    font-size: 6em;
    line-height: 1.2em;
    margin-bottom: 15px;
  
}
sub{
    font-size: 12px;
}

figure{
    text-align: center;
    margin: 0;
}
figcaption{
    font-size: 17.6px;
    margin-top: 1.5em;
    line-height: 1.5em;
}
p{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.8em;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 33px;
}

span{
    font-weight: 600;
}
blockquote{
    font-size: 22px;
    line-height: 1.8em;
    padding: 0 1.5em;
    border-left: 4px solid #fff;
}
/* 
La propiedad width (anchura) define el ancho de la imagen. Si no especificas un valor, el navegador utilizará el tamaño original de la imagen. En el ejemplo de arriba, nosotros le dimos 100% de valor, pero aún no aparece de pared a pared. Arreglaremos esto en un momento.

La propiedad height(altura) determina la altura de la imagen. El valor auto le dice al navegador que no conocemos exactamente la altura pero deseamos que sea proporcional.
*/

/*Artículo*/
.content-article{
    max-width: 840px;
    margin: 0 auto;
    padding: 70px 50px 0;
}
a{
    color: #0a0a23;
}
a:hover{
    text-decoration: none;
}
article figure{
    margin: 33px 0 66px;
}
.song{
    display: flex;
    justify-content: center;
    align-items: center;
}



  
 




  
  main {
    background: rgba(black, 0.66);
    color: white;
    position: relative;
    padding: 1rem;
    p {
      max-width: 600px;
      margin: 1rem auto;
    }
  }
  .img-EF{
    width: 70%;
  }
  h1 {
    text-align: center;
    span {
      display: block;
      font-size: 10vw;
      letter-spacing: -1.3vw;
    }
  }
  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  

  .viewport-header {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.eqs{
   font-size: 1.2rem;
}
