body {
    margin: 0px;
    font-family: Georgia, serif;
}
.container-gral {
    width: 960px;
    height: 2199.360px;
    margin-left: 194.500px;
    margin-right: 194.500px;
    margin-bottom: 40px;
    display: block;
    position: fixed;
}
.container-gral .nav {
    display: inline-block;
    font-size: 14px;
    line-height: 2rem;
    font-weight: bold;  
    list-style-type:none;
    z-index: 5;
    right:120px;
    position: fixed;
    margin-top: 30px;  
    margin-left: 130px;
    margin-right: 130px;
}
.logo {
    margin-left: 130px;
    margin-right: 130px;
}
.container-gral .nav .menu {
    padding-bottom: 1px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid #CC0000;
}
.logo img {
    width: 220px;
    height: 78px;
    margin-top: 20.800px;
    
    
}
.container {
    width: 780px; 
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 32px;
}
.container .figura {
    float: right; 
      
    
}
.container img {
    
    width: 375px;
    height: 375px;
    
}
h1 {
    font-weight: normal;
    line-height: 2.8rem;
    font-size: 2.3rem;
    color:   #000;
    margin-top: 33.200px;
    margin-bottom: 16px; 
    margin-left: 0px;
    margin-right: 0px;
    width: 700px !important;
    height: 132px !important;
}
p {
    display: block; 
    line-height: 2rem;
    font-size: 1.3rem;  
    width: 700px !important;
    height: 192px !important;
}
a {
    text-decoration: none;
    color: #CC0000;
}
a:hover {
    text-decoration: underline;
}

