body {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    
}
.nav {
    background-color: #F44336; 
    padding: 5px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    box-shadow: 0px 1px 10px #242424;
    z-index: 5;
    position: fixed;
    width: 100%;
}
img {
    vertical-align: middle;
    margin-bottom: 5px;
    padding: 0px;
}
.CLI {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-left: 8px;
    margin-right: 30px;
    line-height: 28px;
    letter-spacing: 0.02em;
}
.doc {
    color: #fff;
    display: inline-block;
    opacity: .87;
    font-size: 16px;
    font-weight: 500;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}
.get {
    color: #fff;;
    position: absolute;
    right: 0px;
    z-index: 1;
    opacity: .87;
    font-size: 16px;
    font-weight: 500;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}

.conteiner {
    background-color: #DA3330;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 4%;
}
.conteiner .logoconteiner img {
    padding-right: 30px;
}
.conteiner .texconteniner {
    padding-left: 30px;
}

.texconteniner h4 {
    
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 15;
    margin-bottom: 15px;
   
}
.texconteniner h5 {
    color: #fff;

    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 25px;
    margin-top: 15px;
    max-width: 300px;
    
}
.started {
    color: rgb(183,28,28);
    font-size: 12px;
    text-decoration: none;
    background-color: #fff;
    height: 45px;
    line-height: 45px;
    min-width: 140px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2px;
    
    
}
.nav a:hover { 
    background-color: #D73230;
}
